.rodape {
    grid-area: footer;
    background-color: var(--cor-cinza-escura);
}

.rodape .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.rodape nav h3 {
    color: var(--cor-neutra-clara);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.rodape nav ul li {
    color: var(--cor-roxa-clara);
    margin-bottom: 0.7rem;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.rodape nav a {
    color: var(--cor-roxa-clara);
    letter-spacing: 0.1rem;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.rodape nav a:hover {
    color: var(--cor-neutra-clara);
}

.rodape .copyright {
    text-align: center;
    color: var(--cor-cinza-clara);
    background-color: var(--cor-neutra-escura);
    padding: 1.5rem;
    letter-spacing: 0.1rem;
} 

@media (min-width:1024px) {
    .rodape .container {
        flex-direction: row;
        width: 100%;
        gap: 13rem;
        padding: 4rem 1rem;
    }
}

@media (min-width:1120px) {
    .rodape .container {
        width: 1170px;
        margin: 0 auto;
    }
}